@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  box-sizing: border-box;
  background-color: #f6f6f9;
}
